<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap css -->
  	<link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
	<title>Práctica 2</title>
</head>
<body>
    <div style="margin-top: 50px" class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Práctica 2</h1>
            </div>
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">Inicio</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/coordinador">Coordinador</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/interesado">Interesado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aspirante">Aspirante</a>
                        </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
	</div>